.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item_movie {
  width: 260px;
  transition: 250ms;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    scale: 1.05;
  }
}

.link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
}

.img {
  margin-bottom: 10px;
  width: 100%;
}

.text {
  padding-bottom: 10px;
}